@model IEnumerable<BookReviewGrupp4.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>

<a asp-action="Create" class="btn btn-primary" style="background-color:limegreen">Add New Book</a>
<br />
<br />

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search book by title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            | <a asp-action="Index" class="btn btn-primary" style="background-color:cornflowerblue;color:white;">Clear</a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["GenreSortParm"]">@Html.DisplayNameFor(model => model.Genre)</a>
            </th>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author.Name)</a>
            </th>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Published)</a>
            </th>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParm"]">@Html.DisplayNameFor(model => model.AverageRating)</a>
            </th>
            <th>
                <a style="color: white;" asp-action="Index" asp-route-sortOrder="@ViewData["ReviewSortParm"]">@Html.DisplayNameFor(model => model.AmountReviews)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@book.BookId">@Html.DisplayFor(modelItem => book.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.AverageRating) / 5
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.AmountReviews)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@book.BookId">Edit</a> |-->
                <!--<a asp-action="Details" asp-route-id="@book.BookId">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@book.BookId" class="glyphicon glyphicon-remove" style="color:red;"></a>
            </td>
        </tr>
        }
    </tbody>
</table>