@model BookReviewGrupp4.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="border: 1px solid black; border-radius: 5px; background-color:darkslategray;">
    <h1 class="display-4" style="color:white;">Welcome to IBDB - your source for book reviews!</h1>
</div>

<div class="myContainer" style="display:flex;justify-content:center;align-items:center; text-align:center; padding:20px 20px; grid-gap:8rem;">
    <div>
        <p style="font-weight: bold; text-decoration: underline;">Top rated books</p>
        <table>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@book.BookId" asp-controller="Books">@Html.DisplayFor(modelItem => book.Name)</a>
                        </td>
                    </tr>
                }
                @if (Model.Books.Count < 8)
                {
                    @for (int i = 0; i < 8 - Model.Books.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Index">&nbsp;</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <p style="font-weight: bold; text-decoration: underline;">Latest published books</p>
        <table>
            <tbody>
                @foreach (var book in Model.Books.OrderByDescending(x => x.Published))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@book.BookId" asp-controller="Books">@Html.DisplayFor(modelItem => book.Name)</a>
                        </td>
                    </tr>
                }
                @if (Model.Books.Count < 8)
                {
                    @for (int i = 0; i < 8 - Model.Books.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Index">&nbsp;</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <p style="font-weight: bold; text-decoration: underline;">Top rated authors</p>
        <table>
            <tbody>
                @foreach (var author in Model.AuthorsList.OrderByDescending(x => x.AverageRating))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@author.AuthorId" asp-controller="Books">@Html.DisplayFor(modelItem => author.Name)</a>
                        </td>
                    </tr>
                }
                @if (Model.AuthorsList.Count < 8)
                {
                    @for (int i = 0; i < 8 - Model.AuthorsList.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Index">&nbsp;</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <p style="font-weight: bold; text-decoration: underline;">Top reviewed books</p>
        <table>
            <tbody>
                @foreach (var book in Model.Books.OrderByDescending(x => x.AmountReviews))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@book.BookId" asp-controller="Books">@Html.DisplayFor(modelItem => book.Name)</a>
                        </td>
                    </tr>
                }
                @if (Model.Books.Count < 8)
                {
                    @for (int i = 0; i < 8 - Model.Books.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action="Index">&nbsp;</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<!--This below will be changed/fixed-->
<div class="myReviews" style="display:flex;justify-content:center;align-items:center;">
    <div>
        <h4 style="font-weight:bold;">Latest Reviews</h4>
    </div>
</div>


