@model IEnumerable<BookReviewGrupp4.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<a asp-action="Create" class="btn btn-primary" style="background-color:limegreen">Add New Author</a>
<br />
<br />

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="color: white;">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AuthorId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.AuthorId" class="glyphicon glyphicon-remove"></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
